body {
  background-color: darkslategrey;
  text-align: center;
  color: rgb(210, 210, 208);
  font-family: Arial, Helvetica, sans-serif;
}
button {
  text-align: center;
  background: rgb(124, 156, 156);
  color: black;
  padding: 8px 16px;
  margin: 3px 2px;
}

hr {
  margin-left: 25%;
  margin-right: 25%;
  size: "2";
  background: rgb(176, 147, 147);
}

input {
  text-align: center;
  background: rgb(124, 156, 156);
  color: black;
  padding: 8px 16px;
  margin: 3px 2px;
}

img {
  margin: 5px;
  padding: 5px;
  width: 140px;
  height: 180px;
}

#header {
  text-align: center;
  background: rgb(123, 123, 169);
}

.navigator {
  font-size: 25px;
}

#title {
  color: rgb(20, 35, 35);
  font-family: cursive;
}

#icon{
  padding: 0px;
  margin-top: opx;
  float: left;
}

#footer{
  text-align: center;
  background: rgb(123, 123, 169);
  font-size: 25px;
  margin: 5px;
  color: black;
  
}
